<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Sign_in</title>
    <link rel="stylesheet" href="style/sign_in.css"></link>
  </head>
  <body>
    <div id="title">
      <span>Liittouman Varasto</span>
    </div>
    <div class="panes">
      <div id="left" class="pane">
        <img id="oystercatcher" src="resources/oystercatcher.png" alt="#">
      </div>
      <div id="right" class="pane">
        <form th:action="@{/sign_in}" method="post">
          <div class="form_element">
            <label>Käyttäjänimi</label>
            <input type="text" name="username"/>
          </div>
          <div class="form_element">
            <label>Salasana</label>
            <input type="password" name="password"/>
          </div>
          <div class="form_element">
            <input id="button" type="submit" value="KIRJAUDU"></input>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript">
      window.history.replaceState({page: "sign_in?error"}, "", "sign_in");
      window.history.replaceState({page: "sign_in"}, "", "storage_of_the_alliance");
    </script>
  </body>
</html>
